@page "/contacts"
@using System.Globalization
@inject IJSRuntime JSRuntime

<div style="z-index:-1; position:fixed; width:100vw; left: 0; top: 0; height:100vh;background-image: url('/Images/contacts.jpg'); background-size: cover; background-repeat: no-repeat; min-width:300px; min-height:100px;">
</div>

@if (isloading)
{
    <MudProgressCircular Color="Color.Secondary" Style="height:100px; width:100px; position:fixed; top:40%; left:50%;" Indeterminate="true" />
}
else
{
    @if (culture != null) {
        var contactsPageTitle = culture switch { "ru-RU" => "Контакты", "en-US" => "Contacts", "ro-RO" => "Contacte" };
        var Valeri = culture switch { "ru-RU" => "Валерий Гуков", "en-US" => "Valeriy Gukov", "ro-RO" => "Valerii Gukov" };
        var Andrei = culture switch { "ru-RU" => "Андрей Коваленко", "en-US" => "Andrey Covalenco", "ro-RO" => "Andrei Covalenco" };
        var Petru = culture switch { "ru-RU" => "Петр Дамаскин", "en-US" => "Petru Damaschin", "ro-RO" => "Petru Damaschin" };
        var Adress = culture switch { "ru-RU" => "Адрес", "en-US" => "Adress", "ro-RO" => "Adresă" };
        var Email = culture switch { "ru-RU" => "Электронная Почта", "en-US" => "Email", "ro-RO" => "Email" };
        var AdressLocation = culture switch { "ru-RU" => "Улица Вадул луй Водэ 110, Кишинев, Молдова", "en-US" => "Vadul lui Voda Street 110, Chisinau, Republic Of Moldova", "ro-RO" => "Strada Vadul lui Vodă 110, Chișinău, Republica Moldova" };
        var YouCanFind = culture switch { "ru-RU" => "Вы можете найти нас на", "en-US" => "You can find us on", "ro-RO" => "Ne puteți găsi pe" };
        var LocationText = culture switch { "ru-RU" => "Наше местоположение", "en-US" => "Our location", "ro-RO" => "Locația noastră" };
<div class="page-item">
    <div class="d-flex justify-content-center">
        <h1 style="color:White">@contactsPageTitle</h1>
    </div>
</div>

<MudItem Class="pc-description-view">
    <MudCard Elevation="0" Outlined="false" Style="background-color:transparent;" Class="w-100 d-flex flex-wrap flex-row gap-0 justify-center">
        <MudCard Elevation="0" Outlined="false" Style="max-width:1126px; background-color:transparent;" Class="w-100 d-flex flex-wrap flex-row gap-0 justify-center">
            <MudPaper Elevation="0" Outlined="false" Width="50%">
                <MudAvatar Class="ml-8 mt-8" Size="Size.Large" Style="background-color:white;">
                    <MudImage Src="/Images/WoodArtCons_Logo.png" Alt="Logo Companie" />
                </MudAvatar>
                <MudText Class="px-8" Typo="Typo.h5"><strong>WoodArtCons</strong></MudText>
                <MudDivider />
                <MudText Class="px-8 pt-3" Typo="Typo.body1"><strong> @Valeri:</strong> +37360201373 </MudText>
                <MudText Class="px-8" Typo="Typo.body1"><strong> @Andrei:</strong> +37368312964 </MudText>
                <MudText Class="px-8" Typo="Typo.body1"><strong> @Petru:</strong> +37379356131 </MudText>
                <MudText Class="px-8" Typo="Typo.body1"><strong> @Adress:</strong> @AdressLocation </MudText>
                <MudText Class="px-8 pb-8" Typo="Typo.body1"><strong> @Email:</strong> <a href="mailto:[Email]"> woodartcons@gmail.com </a></MudText>
                <MudDivider />
                <MudText Class="px-8 pt-3" Typo="Typo.h6"> @YouCanFind</MudText>
                <MudCard Elevation="0" Outlined="false" Style="background-color:transparent;" Class="pl-8 pt-3 pb-6 w-100 d-flex flex-wrap flex-row gap-6 justify-left">
                    <MudLink Href="https://999.md/ro/profile/WoodArt">
                        <MudAvatar Color="Color.Secondary" Variant="Variant.Outlined">
                            <MudImage Src="/Images/999_logo.png"></MudImage>
                        </MudAvatar>
                    </MudLink>
                    <MudLink Href="https://www.facebook.com/p/Acoperi%C8%99-Foisor-Terasa-Wood-Art-Cons-100068195080802/?paipv=0&eav=AfY-VWWWJb6y0lFLZk8-mZKrxD38iMAdQsUUup6ZJDEbbajScf5wC47iiEA_OnWlS_A&_rdr">
                        <MudAvatar Color="Color.Info" Variant="Variant.Outlined">
                            <MudImage Src="/Images/facebook_logo.png"></MudImage>
                        </MudAvatar>
                    </MudLink>
                </MudCard>
            </MudPaper>
            <MudPaper Elevation="0" Outlined="false" Width="50%">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.5170648752589!2d28.89371276967531!3d47.0334731122546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97d005833384f%3A0xac0a80a304a672ea!2sWoodArtCons%20SRL!5e1!3m2!1sro!2s!4v1715854920929!5m2!1sro!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </MudPaper>
        </MudCard>
    </MudCard>
</MudItem>

<MudItem Class="mobile-description-view">
    <MudCard Elevation="0" Outlined="false" Class="w-100 d-flex flex-wrap flex-column gap-2 justify-center">
        <MudPaper Elevation="0" Outlined="false" Width="100%">
            <MudAvatar Class="ml-8 mt-8" Size="Size.Large" Style="background-color:white;">
                <MudImage Src="/Images/WoodArtCons_Logo.png" Alt="Logo Companie" />
            </MudAvatar>
            <MudText Class="px-8" Typo="Typo.h5"><strong>WoodArtCons</strong></MudText>
            <MudDivider />
            <MudText Class="px-8 pt-3" Typo="Typo.body1"><strong> @Valeri:</strong> +37360201373 </MudText>
            <MudText Class="px-8" Typo="Typo.body1"><strong> @Andrei:</strong> +37368312964 </MudText>
            <MudText Class="px-8" Typo="Typo.body1"><strong> @Petru:</strong> +37379356131 </MudText>
            <MudText Class="px-8" Typo="Typo.body1"><strong> @Adress:</strong> @AdressLocation</MudText>
            <MudText Class="px-8 pb-8" Typo="Typo.body1"><strong> @Email:</strong> <a href="mailto:[Email]"> woodartcons@gmail.com </a></MudText>
            <MudDivider />
            <MudText Class="px-8 py-3" Typo="Typo.h6"> @LocationText </MudText>
            <MudPaper Elevation="0" Outlined="false" Width="100%" Style="min-height:400px; max-height:400px; height:100%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.5170648752589!2d28.89371276967531!3d47.0334731122546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97d005833384f%3A0xac0a80a304a672ea!2sWoodArtCons%20SRL!5e1!3m2!1sro!2s!4v1715854920929!5m2!1sro!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </MudPaper>
            <MudDivider />

            <MudText Class = "px-8 pt-3" Typo = "Typo.h6" > @YouCanFind </MudText>
            <MudCard Elevation="0" Outlined="false" Style="background-color:transparent;" Class="pl-8 pt-3 pb-6 w-100 d-flex flex-wrap flex-row gap-6 justify-left">
                <MudLink Href="https://999.md/ro/profile/WoodArt">
                    <MudAvatar Color="Color.Secondary" Variant="Variant.Outlined">
                        <MudImage Src="/Images/999_logo.png"></MudImage>
                    </MudAvatar>
                </MudLink>
                <MudLink Href="https://www.facebook.com/p/Acoperi%C8%99-Foisor-Terasa-Wood-Art-Cons-100068195080802/?paipv=0&eav=AfY-VWWWJb6y0lFLZk8-mZKrxD38iMAdQsUUup6ZJDEbbajScf5wC47iiEA_OnWlS_A&_rdr">
                    <MudAvatar Color="Color.Info" Variant="Variant.Outlined">
                        <MudImage Src="/Images/facebook_logo.png"></MudImage>
                    </MudAvatar>
                </MudLink>
            </MudCard>
        </MudPaper>
    </MudCard>
</MudItem>
}
}

@code {
    private bool isloading = true;
    private string culture;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isloading = true;
            culture = await JSRuntime.InvokeAsync<string>("getLanguage");
            isloading = false;
            StateHasChanged();
        }
    }
}