@page "/"
@using System.Globalization
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager

<div style="z-index:-1; position:fixed; width:100vw; left: 0; top: 0; height:100vh;background-image: url('/Images/contacts.jpg'); background-size: cover; background-repeat: no-repeat; min-width:300px; min-height:100px;"></div>

@if (isloading)
{
    <MudProgressCircular Color="Color.Secondary" Style="height:100px; width:100px; position:fixed; top:40%; left:50%;" Indeterminate="true" />
}
else
{
    @if (culture != null) {
        var homePageWelcome  = culture switch { "ru-RU" => "Добро пожаловать в", "en-US" => "Welcome to", "ro-RO" => "Bun venit la" };
        var homePageSubtitle = culture switch { "ru-RU" => "Ваш эксперт по качественным деревянным изделиям!", "en-US" => "Your expert in quality wood products!", "ro-RO" => "Expertul tău în Produse din Lemn de Calitate!" };
        var paragraph1 = culture switch { 
            "ru-RU" => "В WoodArtCons детали имеют значение. Здесь мы воплощаем мечты в реальность, Хотите ли вы прочный дом, уютную беседку или индивидуальную мебель, отражающую вашу индивидуальность. Мы являемся надежным партнером на каждом этапе проекта с солидным опытом строительства.",
            "en-US" => "At WoodArtCons, details make the differences. Here we turn dreams into reality, whether you want a sustainable home, a comfortable gazebo or custom furniture that reflects your personality. We are the reliable partner at every stage of the project, with a solid experience in construction.",
            "ro-RO" => "La WoodArtCons, detaliile fac diferența. Aici transformăm visele în realitate, fie că doriți o casă durabilă, un foișor confortabil sau mobilier personalizat care să reflecte personalitatea dvs. Suntem partenerul de încredere în fiecare etapă a proiectului, cu o experiență solidă în construcții."
        };
        var paragraph2 = culture switch { 
            "ru-RU" => "Мы используем только высококачественные материалы с акцентом на дерево и металл, чтобы создать структуры, долговечные и впечатляющие объекты. Мы строим дома, крыши, террасы, беседки и другие внешние конструкции. Мы также производим уличную и внутреннюю мебель, а также уникальные, мастерски обработанные предметы по заказу клиента.",
            "en-US" => "We only use high-quality materials with an emphasis on wood and metal to create structures, objects that last and impress. We build houses, roofs, terraces, gazebos and other outdoor structures. We also make street and interior furniture, as well as unique objects, crafted with craftsmanship, to the customer's order.",
            "ro-RO" => "Folosim doar materiale de înaltă calitate, cu accent pe lemn și metal, pentru a crea structuri, obiecte care să dureze și să impresioneze. Construim case, acoperișuri, terase, foișoare și alte structuri exterioare. De asemenea, realizăm mobilier stradal și de interior, precum și obiecte unicat, lucrate cu măiestrie, la comanda clientului."
        };
        var paragraph3 = culture switch { 
            "ru-RU" => "К каждому проекту относятся с максимальной осторожностью и профессионализмом. Мы уделяем особое внимание качеству и предоставляем услуги, которым вы можете доверять, с учетом ваших потребностей.",
            "en-US" => "Each project is treated with utmost care and professionalism. We focus on quality and offer services you can trust, tailored to your needs.",
            "ro-RO" => "Fiecare proiect este tratat cu maximă atenție și profesionalism. Punem accent pe calitate și oferim servicii de care poți avea încredere, adaptate necesităților dumneavoastră."
        };
    <div class="page-item">
        <div class="d-flex justify-content-center align-content-center">
            <h1 style="color:White">@homePageWelcome <strong>WoodArtCons</strong></h1>
        </div>
        <div class="d-flex justify-content-center align-content-center">
            <h5 style="color:White">@homePageSubtitle</h5>
        </div>
        <MudCard Elevation="0" Outlined="false" Style="background-color:transparent;" Class="w-100 d-flex flex-wrap flex-row gap-16 justify-center">
            <MudCard Elevation="0" Outlined="false" Style="max-width:1126px; background-color:transparent;" Class="w-100 d-flex flex-wrap flex-row gap-16 justify-center">
                <MudGrid>
                    <MudItem xs="12" sm="6" Class="custom-mud-item">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 px-8" Style="text-align: justify; text-align-last: center; color: black;">
                            @paragraph1
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="custom-mud-item">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full">
                                <MudImage Src="/Images/home1.jpg" Class="rounded-lg custom-image-size" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" Class="custom-mud-item custom-order-xs-2 custom-order-sm-1">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full">
                            <MudImage Src="/Images/home4.jpg" Class="rounded-lg custom-image-size" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="custom-mud-item custom-order-xs-1 custom-order-sm-2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 px-8" Style="text-align: justify; text-align-last: center; color: black;">
                            @paragraph2
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" Class="custom-mud-item">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 px-8" Style="text-align: justify; text-align-last: center; color: black;">
                            @paragraph3
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="custom-mud-item">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full">
                            <MudImage Src="/Images/home3.jpg" Class="rounded-lg custom-image-size" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudCard>
        </MudCard>
    </div>
    }
}


@code {
    private bool isloading;
    private string culture;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isloading = true;
            culture = await JSRuntime.InvokeAsync<string>("getLanguage");
            isloading = false;
            StateHasChanged();
        }
    }
}