@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<NavMenu />

<div class="page">
    <main>
        <article class="content px-4 mt-12">
            @Body
        </article>
    </main>
</div>
